<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net45" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net45" />
</packages>